* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Changed from .header to header to match html change from header class to header tag */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Changed from .header to header to match html change from header class to header tag */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Changed from .header to header to match html change from header class to header tag */
header h1 .seo {
    color: #d9dcd6;
}
/* Changed .header div to header nav; more specific for navigation bar */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Changed .header div ul to header nav ul; more specific for navigation bar */
header nav ul {
    list-style-type: none;
}
/* Changed .header div ul li to header nav ul li; more specific for navigation bar */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    /* Not sure if I would put the alt text here? */
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Kept .benefits class because it impacts all the elements inside of it */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Were divs originally, changed to nav, then back to div */
div {
    margin-bottom: 32px;
    color: #ffffff;
}

div h3 {
    margin-bottom: 10px;
    text-align: center;
}

div img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Changed from specfics classes to section because they all had the same elements #CleanCode */
section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* All section img elements had the same elements */
section img {
    max-height: 200px;
}

/* All section h2 elements had the same elements */
section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Changed footer class to footer tag */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Changed footer class to footer tag */
footer h2 {
    font-size: 20px;
}
